<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="Ezi.CustomMap">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Ezi.CustomMap">
		<!--<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="YOUR API KEY" />-->
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDx0rnc6jDr5VtGYgqhDQ3VvanZ1ko4S9M" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>